@import url("settings/settings.css");
@import url("componentes/menu.css");
@import url("componentes/carrinho.css");
@import url("pages/home.css");
@import url("componentes/card.css");
@import url("pages/contatos.css");
@import url("componentes/beneficios.css");
@import url("pages/trocasedevolu.css");
@import url("pages/privacidade.css");
@import url("pages/perguntas.css");
@import url("pages/frete.css");
@import url("componentes/footer.css");
@import url("componentes/botaowhatsapp.css");
@import url("pages/paginadeproduto.css");
@import url("pages/dadospessoais.css");
@import url("pages/login.css");
@import url("pages/cadastro.css");