footer{
	display: grid;
	justify-items: center;
	gap: 20px;
}
.logofooter{
	width: 100vw;
	height: auto;
}
.inst{
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 10px;
	margin-bottom: 45px;
	font-size: 0.8rem;
}
.inst a{
	font-size: 0.8rem;
	color: var(--cinzavermelho);
}

.atend{
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 10px;
	margin-bottom: 45px;	
	font-size: 0.8rem;
}
.atend a{
	color: var(--cinzavermelhomaisescuro);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.8rem;
}
.atend i{
	font-size: 1.1rem;
	margin-right: 10px;
}
.atend span{
	align-self: center;
	font-size: 1.1rem;
	margin-right: 10px;
}
.atend a:hover{
	font-size: 1.1rem;
	color: var(--cinzavermelhomaisescuro);
}
.band{
	display: flex;
	justify-content: center;
	gap: 10px;
}
.band img{
	width: 8vw;
}
.direi{
	margin: 0 6vw 0 6vw;
	font-size: 0.8rem;
	opacity: 0.5;
}








@media (min-width: 600px){
	footer{
		grid-template-columns: 1fr 1fr; 
  		grid-template-areas:
    		"i1 i1"
    		"i2 i3"
    		"i4 i4"
    		"i5 i5";
	}
	footer div:nth-child(1) { grid-area: i1; }
	footer div:nth-child(2) { grid-area: i2; }
	footer div:nth-child(3) { grid-area: i3; }
	footer div:nth-child(4) { grid-area: i4; }
	footer div:nth-child(5) { grid-area: i5; }
}
@media (min-width: 768px){
	.logofooter{
		width: 18vw;
		height: auto;
	}
	footer{
		margin: 75px 6vw 0 6vw;
		grid-template-columns: 1fr 1fr 1fr; 
  		grid-template-areas:
    		"i1 i2 i3"
    		"i4 i4 i4"
    		"i5 i5 i5";
	}
	footer div:nth-child(1) { grid-area: i1; }
	footer div:nth-child(2) { grid-area: i2; }
	footer div:nth-child(3) { grid-area: i3; }
	footer div:nth-child(4) { grid-area: i4; }
	footer div:nth-child(5) { grid-area: i5; }
	.band img{
		width: 4vw;
	}
}

@media (min-width: 992px){
	footer{
		border-top: 1px solid var(--rosaid);
		padding-top: 40px;
	}

	.inst{
		gap: 1vw;
	}

	.inst h4{
		font-size: 1vw;
	}

	.inst a{
		font-size: 1vw;
	}

	.inst a:hover{
		font-size: 1.1vw;
		color: var(--cinzavermelhomaisescuro);
	}

	.atend{
		gap: 1.3vw;
	}

	.atend h4{
		font-size: 1vw;
	}

	.atend a{
		font-size: 1vw;
	}

	.atend a:hover{
		font-size: 1.1vw;
	}

	.atend i{
		font-size: 1.4vw;
	}

	.atend span{
		font-size: 1.4vw;
	}
}