.frete{
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin: 100px 6vw 40px 6vw;
}

.frete h2{
	margin: 40px 0 10px 0;
	text-align: center;
}

.frete p{
	color: #786569;
}

.frete h4{
	font-size: 0.8rem;
}

@media (min-width: 992px){
	.frete{
		margin: 50px 12vw 40px 12vw;
	}
}