
.sectionproduto{
    margin-top: 0px;
    animation: fadeIn 1s ease;
}
/* ========   slider   ======*/
.btn-prev, .btn-next{
    display: none;
}

.slider-container {
    width: 100%;
    height: auto;
    overflow-x: scroll;
    overflow-y: hidden; 
    -webkit-overflow-scrolling: touch; 
    scroll-snap-type: x mandatory; 
    scrollbar-width: none; /* Firefox */
}

/* Esconder a barra de rolagem em WebKit (Chrome, Safari, Edge) */
.slider-container::-webkit-scrollbar {
    display: none;
}

.slider-wrapper {
    display: flex;
    flex-wrap: nowrap;
}

.slider-item {
    flex-shrink: 0; 
    width: 100%;
    scroll-snap-align: center; 
}

.slider-item img {
    width: 100%;
    height: auto;
    max-height: 86vh;
    object-fit: cover; 
    aspect-ratio: 4 / 7;
}

/* --- Estilos para os Pontos de Navegação --- */

.slider-dots {
    display: flex;
    justify-content: center;
    padding: 10px 0; 
    margin-top: -30px; 
    position: relative;
    z-index: 10; 
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px; 
    background-color: #bbb; 
    border-radius: 50%; 
    display: inline-block;
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #333; 
}



/* ============  informaçoes do produto   =========*/

.infoprodut{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 20px 6vw 15px 6vw;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(125, 61, 72, 0.5);
    animation: fadeIn 1s ease;
}

.infoprodut h5{
    font-size: 1.3rem;
    font-weight: normal;
    color: #C04A4A;
}

.infoprodut h6{
    font-size: 1rem;
    font-weight: normal;
}

.primeiropreco{
    font-size: 1.8rem;
    color: #786569;
}

.segundopreco{
    font-size: 0.7rem;
    opacity: 0.6;
}




/* ========   tamanho     ========*/

.tamanho{
    margin: 10px 6vw 15px 6vw;
    padding-bottom: 10px;
    animation: fadeIn 1s ease;
}

.tamanho h5{
    font-size: 1.2rem;
    color: var(--cinzavermelho);
    margin-bottom: 10px;
    font-weight: normal;
}

.tamanho label{
    margin-right: 20px;
}

.tamanho input[type="radio"] {
    display: none;
}

.size-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #f0f0f0;
    border: var(--vermelhoid);
    border-radius: 4px; 
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    color: var(--cinzavermelhomaisescuro);
    transition: all 0.2s ease-in-out;
}

.tamanho input[type="radio"]:checked + .size-button {
    background-color: var(--rosaid); 
    border: 1px solid var(--vermelhoid);
}





/*   ===========  cor   ===========*/

.cor{
    margin: 10px 6vw 15px 6vw;
    padding-bottom: 10px;
    animation: fadeIn 1s ease;
}

.cor h5{
    font-size: 1.2rem;
    color: var(--cinzavermelho);
    margin-bottom: 10px;
    font-weight: normal;
}

.cor label{
    margin-right: 20px;
    margin-bottom: 12px;
}

.cor input[type="radio"] {
    display: none;
}

.cor-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 34px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #f0f0f0;
    border: var(--vermelhoid);
    border-radius: 4px; 
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    color: var(--cinzavermelhomaisescuro);
    transition: all 0.2s ease-in-out;
}

.cor input[type="radio"]:checked + .cor-button {
    background-color: var(--rosaid); 
    border: 1px solid var(--vermelhoid);
}



/*  ==========   botao adicionar ao carrinho    ========*/

.botaoadd{
    display: flex;
    justify-content: center;
    margin: 0 6vw 0 6vw;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(125, 61, 72, 0.5);
    animation: fadeIn 1s ease;
}

.botaoadd input{
    font-size: 1.3rem;
    width: 100%;
    height: 12vw;
    border: 1px solid var(--vermelhoid);
    background-color: var(--rosaid); 
    border-radius: 4px;
    color: var(--substpreto);
    transition: transform 1.0 ease;
    cursor: pointer;

}

.botaoadd input:hover{
    transform: scale(1.02);
}





/* =========  calcular frete     ===========  */

.shipping{
    margin: 25px 0 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border: 2px solid var(--rosaid);
    padding: 10px 6vw 10px 6vw;
    border-radius: 8px;
    animation: fadeIn 1s ease;
}

.shipping h3{
    color: var(--cinzavermelho);
    font-weight: normal;
}

.cep{
    display: flex;
    justify-content: space-between;
}
.cep input{
    width: 60%;
    height: 28px;
    border: 1px solid var(--cinzavermelhomaisclaro);
    border-radius: 4px;
    padding-left: 8px;
    font-size: 1rem;
}
.cep button{
    width: 30%;
    height: 28px;
    border: 1px solid var(--cinzavermelhomaisclaro);
    border-radius: 4px;
    background-color: var(--vermelhoid);
    color: white;
    font-size: 1.1rem;
}






/* ==========   descriçao do produto     ========= */

.descri{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 6vw 120px 6vw;
    color: var(--cinzavermelho);
    animation: fadeIn 1s ease;
}
.descri h6{
    font-size: 1rem;
    margin-bottom: 8px;
}
.descri p{
    margin-bottom: 12px;
}


/* -------------------------------------------------------------------------------------------------------------------------------------*/

@media (min-width: 768px){
    .sectionproduto{
        display: grid;
        grid-template: repeat(6, auto) / repeat(3, 28vw);
        column-gap: 4vw;
        margin: 110px 6vw 80px 6vw;
    }

    .carrossel-wrapper{
        grid-column: 1 / span 2;
        grid-row: 1 / span 5;
        margin-bottom: 50px;
    }

    .slider-item{
        width: 50%;
        scroll-snap-align: start;
    }

    .slider-dots {
        margin: -40px;
        padding-top: 15px; 
    }

    .infoprodut{
        grid-column: 3;
        grid-row: 1;
        margin: 0;
    }

    .infoprodut h5{
        font-size: 0.8rem;
    }

    .infoprodut h6{
        font-size: 0.7rem;
    }

    .primeiropreco{
        font-size: 1rem;
    }

    .segundopreco{
        font-size: 0.6rem;
    }

    .tamanho{
        grid-column: 3;
        grid-row: 2;
        margin: 20px 0 0 0;
    }

    .tamanho h5{
        font-size: 0.8rem;
    }

    .size-button {
        font-size: 0.6rem;
        width: 30px;
        height: 30px;
    }

    .cor{
        grid-column: 3;
        grid-row: 3;
        margin: 0;
    }

    .cor h5{
        font-size: 0.8rem;
    }

    .cor-button {
        width: auto;
        height: 24px;
        font-size: 0.6rem;
        font-weight: 400;
    }

    .botaoadd{
        grid-column: 3;
        grid-row: 4;
        margin: 0;
        border-bottom: none;
    }
    .botaoadd input{
        font-size: 0.9rem;
        width: 100%;
        height: 5vw;
    }

    .shipping{
        grid-column: 3;
        grid-row: 5;
        border: none;
        padding: 10px 0 10px 0;
    }

    .shipping h3{
        font-size: 0.8rem;
    }

    .cep input{
        font-size: 0.6rem;
    }
    .cep button{
        font-size: 0.7rem;
    }

    .descri{
        grid-column: 1 /span 3;
        grid-row: 6;
        margin: 10px 0 0 0;
    }

    .descri h6{
        font-size: 0.8rem;
    }
    .descri p{
       font-size: 0.8rem;
    }


}



/* --------------------------------------------------------------------------------------------------------------------------------------*/

@media (min-width: 992px){
    .sectionproduto{
        margin-top: 0;
    }

    .carrossel-wrapper {
        position: relative;
    }

    .btn-prev, .btn-next {
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(245, 194, 186, 0.2);
        color: white;
        border: 1px solid var(--rosaid);
        padding: 1.5vw 1.5vw;
        font-size: 1.5vw;
         text-shadow:
        -1px -1px 0 var(--vermelhoid),
         1px -1px 0 var(--vermelhoid),
        -1px  1px 0 var(--vermelhoid),
         1px  1px 0 var(--vermelhoid); 
        cursor: pointer;
        border-radius: 50%;
        z-index: 10;
        transition: 0.2s;
    }

    .btn-prev:hover, .btn-next:hover {
        background: rgba(0,0,0,0.5);
    }

    .btn-prev { left: 10px; }
    .btn-next { right: 10px; }    

    .infoprodut{
        gap: 1vw;
    }

    .infoprodut h5{
        font-size: 1.3vw;
    }

    .infoprodut h6{
        font-size: 1.1vw;
    }

    .primeiropreco{
        font-size: 2.5vw;
        font-weight: 300;
    }

    .segundopreco{
        font-size: 0.9vw;
        font-weight: 300;
    }


    .tamanho h5{
        font-size: 1.2vw;
    }

    .tamanho label{
        margin-right: 2vw;
    }

    .size-button {
        width: 3vw;
        height: 3vw;
        border-radius: 0.5vw;
        font-size: 0.9vw;
    }

    .cor h5{
        font-size: 1.2vw;
    }

    .cor label{
        margin-right: 1vw;
        margin-bottom: 1vw;
    }

    .cor-button {
        width: auto;
        height: 3vw;
        padding-left: 0.8vw;
        padding-right: 0.8vw;
        border-radius: 0.5vw; 
        font-size: 0.9vw;
    }

    .botaoadd input{
        font-size: 1.1vw;
        height: 5vw;
    }

    .shipping{
        margin: 0;
        padding: 0;
        gap: 1vw;
    }

    .shipping h3{
        font-size: 1.2vw;
    }

    .cep{
        gap: 2vw;
    }

    .cep input{
        width: 75%;
        height: 4vw;
        font-size: 0.9vw;
        border-radius: 0.5vw;
        padding-left: 1vw;
    }
    .cep button{
        width: 25%;
        height: 4vw;
        font-size: 1vw;
        border-radius: 0.5vw;

    }

    .descri{
        margin-top: 4vw;
    }
    .descri h6{
        font-size: 1.2vw;
        margin-bottom: 1vw;
    }
    .descri p{
        font-size: 0.9vw;
        margin-bottom: 1vw;
    }



}




