.perguntas{
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 0px 6vw 40px 6vw;
	animation: fadeIn 1s ease;
}

.perguntas h2{
	text-align: center;
	margin: 30px 0;
}

.perguntas h4{
    position: relative; 
    padding-left: 15px; 
    margin-left: 0; 
    font-size: 0.8rem;
}

.perguntas h4::before {
    content: "\2022"; 
    position: absolute;
    top: 0; 
    left: 0; 
}

.perguntas p{
	color: #786569;
}
@media (min-width: 992px){
	.perguntas {
		margin: 0px 15vw 40px 15vw;
	}
}