
#meuModal {
    margin: 0px 6vw 20vh 6vw;
    display: flex;
    flex-direction: column;
    gap: 15px;
    animation: fadeIn 1s ease;
}
#meuModal p{
    color: #786569;
}

@media (min-width: 992px){
    #meuModal{
        margin: 0px 12vw 20vh 12vw;
    }
}