.sec {
  margin: 0 6vw 10vh 6vw;
  animation: fadeIn 1s ease;
}

.sec h2 {
  margin-bottom: 15px;
  text-align: center;
  color: var(--vermelhoid);
  animation: fadeIn 1s ease;
}


/* CARDS*/
.areacards {
  display: grid;
  gap: 4vw;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  animation: fadeIn 1s ease;
}

.card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 12px rgba(0,0,0,0.12);
  display: flex;
  flex-direction: column;
  transition: 0.25s ease;
  cursor: pointer;
  animation: fadeIn 1s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.18);
}

/* IMAGEM DO CARD */
.card-img {
  width: 100%;
  aspect-ratio: 3 / 4;
  overflow: hidden;
  animation: pulse 1s ease;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  object-position: center;
}

/* CONTEÚDO DO CARD */
.card-body {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-body h3 {
  font-size: 1rem;
  margin: 0;
  font-weight: normal;
  color: var(--cinzavermelho);
}

.card-body p {
  margin: 0;
  color: black;
  font-size: 0.9rem;
  line-height: 1.3;
  font-weight: 200;
}

/* FOOTER DO CARD */
.card-footer {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preco {
  font-weight: 300;
  font-size: 1rem;
  color: var(--cinzavermelho);
}



@media (min-width: 768px){
  .areacards {
    grid-template-columns: repeat(3, 1fr);
  }

}

@media (min-width: 992px){
  .sec{
    margin: 0 6vw 0 10vh ;
  }

 .areacards {
    grid-template-columns: repeat(4, 1fr);
  }

  .card-body {
    padding: 4%;
    gap: 1.5vw;
  }

  .card-body h3 {
    font-size: 1.2vw;
  }

  .card-body p {
    font-size: 1.1vw;
  }


  .preco {
    font-size: 1.5vw;
  }

  .btn-card {
    font-size: 1.2vw;
  }

}